header {
	background-color: var(--white);
	width: 100%;
	position: fixed;
	z-index: 3;

	nav {
		@include container;
		height: 70px;
		padding: 20px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 1; // make it above .nav-links-bg

		> a {
			display: block;
		}
		.hamburger {
			background: url("../../images/icon-hamburger.svg") no-repeat center;
			width: 50px;
			height: 23px;

			&:hover {
				cursor: pointer;
			}
		}

		.hamburger-active {
			background-image: url("../../images/icon-close.svg");
		}

		button {
			display: none;
		}

		.nav-links {
			visibility: hidden;
			position: absolute;
			top: 100px;
			width: 100%;
			background-color: var(--white);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			border-radius: 10px;
			transform: translateY(80px);
			transition: 0.5s;
			overflow: hidden; // hide links background overflow

			a {
				width: 100%;
				text-align: center;
				padding: 17px;
				color: var(--dark-blue);
				font-size: 1.2rem;
				font-weight: 400;
				transition: 0.2s; // make links disappear faster
				visibility: hidden;
			}
		}

		.nav-links-active {
			transform: translateY(0);
			visibility: visible;
			a {
				visibility: visible;
			}
		}
	}

	.nav-links-bg {
		// make sure it is set to display none when desktop screen
		position: absolute;
		top: 70px; // .nav-container height
		width: 100%;
		height: 200px; // prevent it from overflowing other sections
		background-image: linear-gradient(var(--dark-blue), transparent);
		opacity: 0;
		transition: 1s;
	}
	.nav-links-bg-active {
		opacity: 1;
		height: calc(100vh - 70px); // set correct height
	}
}
