.hide-scroll-bar {
	overflow-y: hidden;
}

header {
	background-color: var(--white);
	position: relative;
	z-index: 3;

	nav {
		@include container;
		height: 70px;
		padding: 20px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 1; // make it above .nav-links-bg

		.hamburger {
			background: url("../../images/icon-hamburger.svg") no-repeat center;
			width: 50px;
			height: 23px;

			&:hover {
				cursor: pointer;
			}
		}

		.hamburger-active {
			background-image: url("../../images/icon-close.svg");
		}

		button {
			display: none;
		}

		.nav-links {
			visibility: hidden;
			position: absolute;
			top: 100px;
			width: 100%;
			background-color: var(--white);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			border-radius: 10px;
			transform: translateY(80px);
			transition: 0.5s;
			overflow: hidden; // hide links background overflow

			a {
				width: 100%;
				text-align: center;
				padding: 17px;
				color: var(--dark-blue);
				font-size: 1.2rem;
				font-weight: 400;
				transition: 0.2s; // make links disappear faster
				visibility: hidden;
			}
		}

		.nav-links-active {
			transform: translateY(0);
			visibility: visible;
			a {
				visibility: visible;
			}
		}
	}

	.nav-links-bg {
		// make sure it is set to display none when desktop screen
		position: absolute;
		top: 70px; // .nav-container height
		width: 100%;
		height: 200px; // prevent it from overflowing other sections
		background-image: linear-gradient(var(--dark-blue), transparent);
		opacity: 0;
		transition: 1s;
	}
	.nav-links-bg-active {
		opacity: 1;
		height: calc(100vh - 70px); // set correct height
	}
}

.two-color-bg {
	position: absolute;
	z-index: 1;
	top: 70px;
	width: 100%;
	height: 320px;
	background: url("../../images/bg-intro-mobile.svg") no-repeat right;
	background-size: cover;
}

.first-section {
	@include container;
	padding-bottom: 60px;
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	position: relative;
	z-index: 2;

	.mobile-image {
		height: 300px;
		position: relative;

		img {
			display: block;
			width: 100%;
			height: 425px;
			object-fit: contain;
			position: absolute;
			top: -120px;
		}
	}

	.next-generation {
		h1 {
			@include regular-heading;
		}

		p {
			@include regular-paragraph;
		}

		button {
			@include button-component;
			margin: 0 auto;
			margin-top: 30px;
		}
	}
}

.second-section {
	background-color: var(--light-grayish-blue);

	.second-section-container {
		@include container;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 80px 0;
		row-gap: 50px;

		.second-section-header {
			h1 {
				@include regular-heading;
			}
			p {
				@include regular-paragraph;
			}
		}

		.cards-block {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 50px;

			.card {
				width: 250px;
				align-self: stretch;
				img {
					display: block;
					width: 72px;
					margin: 0 auto;
				}
				h2 {
					@include regular-heading;
					font-size: 1.3rem;
					font-weight: 400;
					margin-top: 20px;
				}
				p {
					@include regular-paragraph;
				}
			}
		}
	}
}

.third-section {
	.third-section-container {
		@include container;
		h1 {
			@include regular-heading;
			margin-top: 50px;
		}

		.cards-block {
			margin: 50px 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			row-gap: 50px;
			column-gap: 26px;

			.card {
				width: 100%;
				max-width: 400px;
				border-radius: 10px;
				background-color: var(--very-light-gray);

				img {
					width: 100%;
					max-height: 250px;
					object-fit: cover;
					border-radius: 10px 10px 0 0;
				}

				.card-description {
					padding: 10px 30px;
					p:first-of-type {
						@include regular-paragraph;
						font-size: 0.65rem;
						text-align: left;
						margin-bottom: 10px;
					}
					h2 {
						@include regular-heading;
						font-size: 1.2rem;
						text-align: left;
					}
					p:last-of-type {
						@include regular-paragraph;
						font-size: 0.8rem;
						text-align: left;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}
