.hide-scroll-bar {
	overflow-y: hidden;
}

.two-color-bg {
	position: absolute;
	z-index: 1;
	top: 70px;
	width: 100%;
	height: 320px;
	background: url("../../images/bg-intro-mobile.svg") no-repeat right;
	background-size: cover;
}

.first-section {
	@include container;
	padding-bottom: 60px;
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	position: relative;
	z-index: 2;

	.mobile-image {
		height: 300px;
		position: relative;

		img {
			display: block;
			width: 100%;
			height: 425px;
			object-fit: contain;
			position: absolute;
			top: -120px;
		}
	}

	.next-generation {
		margin-top: 80px;
		h1 {
			@include regular-heading;
		}

		p {
			@include regular-paragraph;
		}

		button {
			@include button-component;
			margin: 0 auto;
			margin-top: 30px;
			animation: fadeButton 1s 1s backwards;
		}

		@keyframes fadeButton {
			from {
				transform: translateX(-500px);
				opacity: 0;
			}
			to {
				transform: translateX(0);
				opacity: 1;
			}
		}
	}
}

.second-section {
	background-color: var(--light-grayish-blue);

	.second-section-container {
		@include container;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 80px 0;
		row-gap: 50px;

		.second-section-header {
			h1 {
				@include regular-heading;
			}
			p {
				@include regular-paragraph;
			}
		}

		.cards-block {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 50px;

			.card {
				width: 250px;
				align-self: stretch;
				opacity: 0; // IntersectionObserver animation
				transform: translateY(50px);
				transition: 1s;

				img {
					display: block;
					width: 72px;
					margin: 0 auto;
				}
				h2 {
					@include regular-heading;
					font-size: 1.3rem;
					font-weight: 400;
					margin-top: 20px;
				}
				p {
					@include regular-paragraph;
				}
			}

			.card-observer-animate {
				transform: translateY(0);
				opacity: 1;
			}
		}
	}
}

.third-section {
	.third-section-container {
		@include container;
		h1 {
			@include regular-heading;
			margin-top: 50px;
		}

		.cards-block {
			margin: 50px 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			row-gap: 50px;
			column-gap: 26px;

			.card {
				width: 100%;
				max-width: 400px;
				border-radius: 10px;
				background-color: var(--very-light-gray);
				// opacity: 0; // IntersectionObserver animation
				// transform: translateY(50px); // IntersectionObserver animation
				transition: 1s;

				img {
					width: 100%;
					max-height: 250px;
					object-fit: cover;
					border-radius: 10px 10px 0 0;
				}

				.card-description {
					padding: 10px 30px;
					p:first-of-type {
						@include regular-paragraph;
						font-size: 0.65rem;
						text-align: left;
						margin-bottom: 10px;
					}
					h2 {
						@include regular-heading;
						font-size: 1.2rem;
						text-align: left;
					}
					p:last-of-type {
						@include regular-paragraph;
						font-size: 0.8rem;
						text-align: left;
						margin-bottom: 10px;
					}
				}
			}

			.card-observer-animate {
				transform: translateY(0);
				opacity: 1;
			}
		}
	}
}
