@media screen and (min-width: 900px) {
	body {
		overflow-x: hidden; // hide .desktop-two-color-bg  overflow
	}

	header {
		nav {
			position: static;

			.hamburger,
			.hamburger-active {
				display: none;
			}

			.nav-links {
				visibility: visible;
				position: static;
				top: 0;
				width: 40%;
				background-color: var(--white);
				flex-direction: row;
				transform: translateY(0);
				overflow: visible;
				transition: none;

				a {
					width: 20%;
					color: var(--grayish-blue);
					font-size: 0.9rem;
					visibility: visible;
					transition: 0.5s;

					&:hover {
						color: var(--dark-blue);
						position: relative;

						&::before {
							opacity: 1;
						}
					}

					&::before {
						display: inline-block;
						content: " ";
						position: absolute;
						bottom: -10px;
						left: 0;
						width: 100%;
						height: 8px;
						background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
						opacity: 0;
						transition: 0.5s;
					}
				}
			}

			button {
				animation: fadeInButton 1s;
				@include button-component;
			}

			@keyframes fadeInButton {
				from {
					transform: translateX(500px);
					opacity: 0;
				}
				to {
					transform: translateX(0);
					opacity: 1;
				}
			}
		}

		.nav-links-bg,
		.nav-links-bg-active {
			display: none;
		}
	}

	main {
		.two-color-bg {
			display: none;
		}

		.first-section {
			height: calc(700px - 70px);
			padding-bottom: 0;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			row-gap: 0px;

			.mobile-image {
				order: 2;
				width: 60%;
				height: auto;
				align-self: stretch;
				img {
					display: none;
				}

				.desktop-two-color-bg {
					background: url("../../images/bg-intro-desktop.svg") no-repeat center;
					background-size: cover;
					width: 220%;
					height: 630px;
				}
				.desktop-mobile-bg {
					position: absolute;
					top: -100px;
					right: -260px;
					background: url("../../images/image-mockups.png") no-repeat right;
					background-size: contain;
					width: 110%;
					height: 900px;
				}
			}

			.next-generation {
				margin-top: 0;
				width: 38%;
				order: 1;
				h1 {
					font-size: 2.4rem;
					text-align: left;
				}
				p {
					text-align: left;
				}

				button {
					@include button-component;
					margin-left: 0;
				}
			}
		}
		.second-section {
			.second-section-container {
				.second-section-header {
					h1,
					p {
						text-align: left;
					}
					p {
						width: 50%;
					}
				}

				.cards-block {
					justify-content: space-between;

					.card {
						transform: translateY(0px);
						@for $i from 1 through 4 {
							&:nth-child(#{$i}) {
								transform: translateY(50px * $i); // IntersectionObserver animation
							}
						}
						img {
							margin-left: 0;
						}
						h2,
						p {
							text-align: left;
						}
					}

					.card-observer-animate {
						@for $i from 1 through 4 {
							&:nth-child(#{$i}) {
								transform: translateY(0);
							}
						}
						opacity: 1;
					}
				}
			}
		}

		.third-section {
			.third-section-container {
				h1 {
					margin-top: 50px;
					text-align: left;
				}

				.cards-block {
					justify-content: space-between;
					row-gap: 26.5px;

					.card {
						max-width: 280px;
						// @for $i from 1 through 4 {
						// 	&:nth-child(#{$i}) {
						// 		transform: translateY(50px * $i); // IntersectionObserver animation
						// 	}
						// }
						&:hover {
							cursor: pointer;
							h2 {
								transition: 0.5;
								color: var(--lime-green);
							}
						}

						img {
							max-height: 180px;
						}
					}
					.card-observer-animate {
						@for $i from 1 through 4 {
							&:nth-child(#{$i}) {
								transform: translateY(0);
							}
						}
						opacity: 1;
					}
				}
			}
		}
	}

	footer {
		.footer-container {
			padding: 50px 0;
			flex-direction: row;
			justify-content: space-between;
			align-items: stretch;
			row-gap: 20px;

			.social-media-block,
			.information-block,
			.bank-information-block,
			.button-block {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

			.information-block,
			.bank-information-block {
				a {
					margin-bottom: 0px;
				}
			}
		}
	}
}
