@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --font-family: "Public Sans", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
  /* Set core root defaults */
}

html:focus-within {
  scroll-behavior: smooth;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 100%;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* Remove all animations, transitions, and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header {
  background-color: var(--white);
  position: relative;
  z-index: 3;
}

header nav {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 70px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

header nav .hamburger {
  background: url("../../images/icon-hamburger.svg") no-repeat center;
  width: 50px;
  height: 23px;
}

header nav .hamburger:hover {
  cursor: pointer;
}

header nav .hamburger-active {
  background-image: url("../../images/icon-close.svg");
}

header nav button {
  display: none;
}

header nav .nav-links {
  visibility: hidden;
  position: absolute;
  top: 100px;
  width: 100%;
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

header nav .nav-links a {
  width: 100%;
  text-align: center;
  padding: 17px;
  color: var(--dark-blue);
  font-size: 1.2rem;
  font-weight: 400;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  visibility: hidden;
}

header nav .nav-links-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
}

header nav .nav-links-active a {
  visibility: visible;
}

header .nav-links-bg {
  position: absolute;
  top: 70px;
  width: 100%;
  height: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--dark-blue)), to(transparent));
  background-image: linear-gradient(var(--dark-blue), transparent);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

header .nav-links-bg-active {
  opacity: 1;
  height: calc(100vh - 70px);
}

.hide-scroll-bar {
  overflow-y: hidden;
}

.two-color-bg {
  position: absolute;
  z-index: 1;
  top: 70px;
  width: 100%;
  height: 320px;
  background: url("../../images/bg-intro-mobile.svg") no-repeat right;
  background-size: cover;
}

.first-section {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
  position: relative;
  z-index: 2;
}

.first-section .mobile-image {
  height: 300px;
  position: relative;
}

.first-section .mobile-image img {
  display: block;
  width: 100%;
  height: 425px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: -120px;
}

.first-section .next-generation h1 {
  font-size: 2.2rem;
  text-align: center;
  color: var(--dark-blue);
}

.first-section .next-generation p {
  margin-top: 15px;
  color: var(--grayish-blue);
  font-size: 0.95rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
}

.first-section .next-generation button {
  display: block;
  width: 180px;
  font-weight: 400;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--lime-green)), to(var(--bright-cyan)));
  background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0 auto;
  margin-top: 30px;
}

.first-section .next-generation button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
  opacity: 0.8;
}

.first-section .next-generation button a {
  color: var(--white);
}

.second-section {
  background-color: var(--light-grayish-blue);
}

.second-section .second-section-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
  row-gap: 50px;
}

.second-section .second-section-container .second-section-header h1 {
  font-size: 2.2rem;
  text-align: center;
  color: var(--dark-blue);
}

.second-section .second-section-container .second-section-header p {
  margin-top: 15px;
  color: var(--grayish-blue);
  font-size: 0.95rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
}

.second-section .second-section-container .cards-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.second-section .second-section-container .cards-block .card {
  width: 250px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.second-section .second-section-container .cards-block .card img {
  display: block;
  width: 72px;
  margin: 0 auto;
}

.second-section .second-section-container .cards-block .card h2 {
  font-size: 2.2rem;
  text-align: center;
  color: var(--dark-blue);
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 20px;
}

.second-section .second-section-container .cards-block .card p {
  margin-top: 15px;
  color: var(--grayish-blue);
  font-size: 0.95rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
}

.third-section .third-section-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.third-section .third-section-container h1 {
  font-size: 2.2rem;
  text-align: center;
  color: var(--dark-blue);
  margin-top: 50px;
}

.third-section .third-section-container .cards-block {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 50px;
  -webkit-column-gap: 26px;
          column-gap: 26px;
}

.third-section .third-section-container .cards-block .card {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  background-color: var(--very-light-gray);
}

.third-section .third-section-container .cards-block .card img {
  width: 100%;
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.third-section .third-section-container .cards-block .card .card-description {
  padding: 10px 30px;
}

.third-section .third-section-container .cards-block .card .card-description p:first-of-type {
  margin-top: 15px;
  color: var(--grayish-blue);
  font-size: 0.95rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  font-size: 0.65rem;
  text-align: left;
  margin-bottom: 10px;
}

.third-section .third-section-container .cards-block .card .card-description h2 {
  font-size: 2.2rem;
  text-align: center;
  color: var(--dark-blue);
  font-size: 1.2rem;
  text-align: left;
}

.third-section .third-section-container .cards-block .card .card-description p:last-of-type {
  margin-top: 15px;
  color: var(--grayish-blue);
  font-size: 0.95rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  font-size: 0.8rem;
  text-align: left;
  margin-bottom: 10px;
}

footer {
  background-color: var(--dark-blue);
}

footer .footer-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}

footer .footer-container .social-media-block > a {
  display: block;
  margin-bottom: 20px;
}

footer .footer-container .social-media-block > a img {
  display: block;
  margin: 0 auto;
}

footer .footer-container .social-media-block .social-media {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

footer .footer-container .social-media-block .social-media a {
  display: block;
  width: 20%;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .footer-container .social-media-block .social-media a svg {
  display: block;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin: 0 auto;
}

footer .footer-container .social-media-block .social-media a svg path {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .footer-container .social-media-block .social-media a:hover {
  cursor: pointer;
  -webkit-transform: rotate(360deg) scale(1.4);
          transform: rotate(360deg) scale(1.4);
}

footer .footer-container .social-media-block .social-media a:hover path {
  fill: var(--lime-green);
}

footer .footer-container .information-block a,
footer .footer-container .bank-information-block a {
  display: block;
  text-align: center;
  color: var(--white);
  margin-bottom: 10px;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .footer-container .information-block a:hover,
footer .footer-container .bank-information-block a:hover {
  color: var(--lime-green);
}

footer .footer-container .button-block button {
  display: block;
  width: 180px;
  font-weight: 400;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--lime-green)), to(var(--bright-cyan)));
  background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: var(--white);
  margin: 0 auto;
  margin-bottom: 15px;
}

footer .footer-container .button-block button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
  opacity: 0.8;
}

footer .footer-container .button-block button a {
  color: var(--white);
}

footer .footer-container .button-block p {
  margin-top: 15px;
  color: var(--grayish-blue);
  font-size: 0.95rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  color: var(--grayish-blue);
}

@media screen and (min-width: 900px) {
  body {
    overflow-x: hidden;
  }
  header nav {
    position: static;
  }
  header nav .hamburger,
  header nav .hamburger-active {
    display: none;
  }
  header nav .nav-links {
    visibility: visible;
    position: static;
    top: 0;
    width: 40%;
    background-color: var(--white);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    overflow: visible;
    -webkit-transition: none;
    transition: none;
  }
  header nav .nav-links a {
    width: 20%;
    color: var(--grayish-blue);
    font-size: 0.9rem;
    visibility: visible;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header nav .nav-links a:hover {
    color: var(--dark-blue);
    position: relative;
  }
  header nav .nav-links a:hover::before {
    opacity: 1;
  }
  header nav .nav-links a::before {
    display: inline-block;
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 8px;
    background-image: -webkit-gradient(linear, left top, right top, from(var(--lime-green)), to(var(--bright-cyan)));
    background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header nav button {
    display: block;
    width: 180px;
    font-weight: 400;
    background-image: -webkit-gradient(linear, left top, right top, from(var(--lime-green)), to(var(--bright-cyan)));
    background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header nav button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
    opacity: 0.8;
  }
  header nav button a {
    color: var(--white);
  }
  header .nav-links-bg,
  header .nav-links-bg-active {
    display: none;
  }
  main .two-color-bg {
    display: none;
  }
  main .first-section {
    height: calc(700px - 70px);
    padding-bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 0px;
  }
  main .first-section .mobile-image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 60%;
    height: auto;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  main .first-section .mobile-image img {
    display: none;
  }
  main .first-section .mobile-image .desktop-two-color-bg {
    background: url("../../images/bg-intro-desktop.svg") no-repeat center;
    background-size: cover;
    width: 220%;
    height: 630px;
  }
  main .first-section .mobile-image .desktop-mobile-bg {
    position: absolute;
    top: -100px;
    right: -260px;
    background: url("../../images/image-mockups.png") no-repeat right;
    background-size: contain;
    width: 110%;
    height: 900px;
  }
  main .first-section .next-generation {
    width: 38%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main .first-section .next-generation h1 {
    font-size: 2.4rem;
    text-align: left;
  }
  main .first-section .next-generation p {
    text-align: left;
  }
  main .first-section .next-generation button {
    display: block;
    width: 180px;
    font-weight: 400;
    background-image: -webkit-gradient(linear, left top, right top, from(var(--lime-green)), to(var(--bright-cyan)));
    background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-left: 0;
  }
  main .first-section .next-generation button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
    opacity: 0.8;
  }
  main .first-section .next-generation button a {
    color: var(--white);
  }
  main .second-section .second-section-container .second-section-header h1,
  main .second-section .second-section-container .second-section-header p {
    text-align: left;
  }
  main .second-section .second-section-container .second-section-header p {
    width: 50%;
  }
  main .second-section .second-section-container .cards-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .second-section .second-section-container .cards-block .card img {
    margin-left: 0;
  }
  main .second-section .second-section-container .cards-block .card h2,
  main .second-section .second-section-container .cards-block .card p {
    text-align: left;
  }
  main .third-section .third-section-container h1 {
    margin-top: 50px;
    text-align: left;
  }
  main .third-section .third-section-container .cards-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 26.5px;
  }
  main .third-section .third-section-container .cards-block .card {
    max-width: 280px;
  }
  main .third-section .third-section-container .cards-block .card:hover {
    cursor: pointer;
  }
  main .third-section .third-section-container .cards-block .card:hover h2 {
    -webkit-transition: 0.5;
    transition: 0.5;
    color: var(--lime-green);
  }
  main .third-section .third-section-container .cards-block .card img {
    max-height: 180px;
  }
  footer .footer-container {
    padding: 50px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    row-gap: 20px;
  }
  footer .footer-container .social-media-block,
  footer .footer-container .information-block,
  footer .footer-container .bank-information-block,
  footer .footer-container .button-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-container .information-block a,
  footer .footer-container .bank-information-block a {
    margin-bottom: 0px;
  }
}
